{% extends 'core/base.html' %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-tencent-qq" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        BABIES
    </strong>
    
</h1>

{% endblock page-title %}


{% block buttons %}
<a href=" {% url 'addbaby' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-tencent-qq"></i>
    </span>
    <span >Register Baby</span>
</a>
<a href=" {% url 'make_payment' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-bank"></i>
    </span>
    <span >Make Payment</span>
</a>
{% endblock %}

{% block title %}
    DayStar | BabyPage
{% endblock %}

{% block content %}
    <div class="mt-4">
        
        <div class="m-3 bg-light">
            {% comment %} <form action="#" method="get " class="d-flex">
                {{ search_form }}
                <input type="submit" value="Search" class="btn btn-primary" style="background-color: #120F75;font-size: 15px; ">
            </form> {% endcomment %}
            {% comment %} <h2>Search Results</h2>
            <ul>
                {% for baby in babies %}
            <li><a href="{% url 'readbaby' id=baby.id %}">{{ baby.b_name }}</a></li>
        {% empty %}
            <li>No babies found.</li>
        {% endfor %}
            </ul> {% endcomment %}
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Baby #</th>
                <th scope="col"style="color:#120F75; font-weight: bolder; font-size: 15px;">Name</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Gender</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Checkin</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Checkin by</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Checkout</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Checkout by</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for babies, checkin, checkout in data  %}
                
                    
                            <tr>
                                {% comment %} <th scope="row">
                                <strong>{{ forloop.counter }}</strong>
                                </th> {% endcomment %}
                                <td>{{ babies.b_no }}</td>
                                <td>{{ babies.b_name }}</td>
                                <td>{{ babies.b_gender }}</td>
                                <td>{{checkin.checkin_time|time:"H:i A"}}</td>
                                <td> <strong>{{checkin.checked_in_by}}</strong> </td>
                                <td>{{checkout.checkout_time|time:"H:i A"}}</td>
                                <td> <strong>{{checkout.checked_out_by}}</strong></td>
                                
                                <td>
                                    <a href="{% url 'readbaby' babies.id %}"><button type="button" class="btn btn-success-outline me-1"><i class="fa-solid fa-eye"></i></button></a>
                                </td>
                                
                            </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

    
    <hr>

<nav aria-label="Page navigation example">

    <ul class="pagination justify-content-center">
        {% if siter.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
                <a href="?page={{siter.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
            <li class="page-item">
                <a href="?page={{ forloop.counter }} "class="page-link">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if siter.has_next %}
            <li class="page-item">
                <a href="?page={{ siter.next_page_number }} "class="page-link">Next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ siter.paginator.num_pages }}"  class="page-link">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
    
</nav>
    
{% endblock %}
