{% extends "core/base.html" %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-shop" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        ADD INVENTORY
    </strong>
    
</h1>
{% endblock page-title %}

{% block buttons %}
<a href=" {% url 'inventory' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-plus"></i>
    </span>
    <span >INVENTORY</span>
</a>
{% endblock buttons %}






{% block title %}
    DayStar | AddinventoryPage
{% endblock title %}

{% block content %}


    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
<div class="w-75 m-auto mt-3">
    <form method="post">
        {% csrf_token %} 
        
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <div class="form-group">
            {{ form.quantity.label_tag }}
            {{ form.quantity }}
        </div>

        <div class="form-group">
            {{ form.unit_cost.label_tag }}
            {{ form.unit_cost }}
        </div> 

        <div class="form-group">
            {{ form.received_date.label_tag }}
            {{ form.received_date }}
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">ADD</button>
    </form>
</div>


    {% comment %} <div class="container w-100">
        <h1>Adding to Inventory</h1>

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    
        <form method="post">
            {% csrf_token %}
            

            {{ form }}
            <br>
        
            <button type="submit">ADD</button>
        </form>

        
    </div> {% endcomment %}


{% endblock content %}