{% extends "core/base.html" %}
{% load static %}


{% block page-title %}
    <div class="d-flex align-items-center">
        <i class="bi bi-people text-primary" style="font-size: 80px;"></i>
        <h1>INVENTORY</h1>
    </div>

{% endblock page-title %}

{% block addlink %} {% url 'addinventory' %} {% endblock addlink %}

{% block buttons %}
    
    
    <a href=" {% url 'addinventory' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>Add Inventory</span>
    </a>
    <a href=" {% url 'issue' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>Issue Inventory</span>
    </a>
    <a href=" {% url 'view_items' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>View Issued</span>
    </a>

    
{% endblock buttons %}





{% block content %}



    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Item</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Unit Cost</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for items in inventory %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{items.category}}</td>
                        <td>{{items.name}}</td>
                        <td>{{items.quantity}}</td>
                        <td>shs.{{items.unit_cost }} </td>
                        <td>{{items.received_date}}</td>
                        <td>
                            <a href="" class="btn btn-primary" >
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </a>
                            <a href="" class="btn btn-danger">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock content %}

