{% extends "core/base.html" %}
{% load static %}


{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-shop" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        INVENTORY
    </strong>
    
</h1>

{% endblock page-title %}

{% block addlink %} {% url 'addinventory' %} {% endblock addlink %}

{% block buttons %}
    
    
    <a href=" {% url 'addinventory' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>Add Inventory</span>
    </a>
    <a href=" {% url 'issue' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>Issue Inventory</span>
    </a>
    <a href=" {% url 'view_items' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>View Issued</span>
    </a>

    
{% endblock buttons %}





{% block content %}



    <div class=" mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">#</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Category</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Item</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">QTY</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Unit Cost</th> 
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Date</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for items in inventory %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{items.category}}</td>
                        <td>{{items.name}}</td>
                        <td>{{items.quantity}}</td>
                        <td>shs.{{items.unit_cost }} </td>
                        <td>{{items.received_date}}</td>
                        <td>
                            <a href="{% url 'update_inventory' items.id %}" class="btn btn-primary" >
                                <i class="fa fa-pen" aria-hidden="true"></i>
                            </a>
                            </a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <hr>

<nav aria-label="Page navigation example">

    <ul class="pagination justify-content-center">
        {% if inventory.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
                <a href="?page={{inventory.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
            <li class="page-item">
                <a href="?page={{ forloop.counter }} "class="page-link">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if inventory.has_next %}
            <li class="page-item">
                <a href="?page={{ inventory.next_page_number }} "class="page-link">Next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ inventory.paginator.num_pages }}"  class="page-link">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
    
</nav>


{% endblock content %}

