{% extends "core/base.html" %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-shop" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        ISSUE ITEM
    </strong>
    
</h1>
{% endblock page-title %}

{% block buttons %}
<a href=" {% url 'inventory' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-shop"></i>
    </span>
    <span >Inventory</span>
</a>
{% endblock buttons %}

{% block content %}
    <div class="w-75 m-auto mt-3">


        <form method="post" class="mt-4">
            {% csrf_token %}
            {% comment %} <div class="form-group">
                <label for="item">Item:</label>
                <select class="form-control" name="item" id="item" required>
                    <option value="">Select an item</option> <!-- Add a default option -->
                    {% for item in inventory_items %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div> {% endcomment %}
            {% comment %} <div class="form-group">
                <label for="quantity_issued">Quantity to issue:</label>
                <input type="number" class="form-control" name="quantity_issued" id="quantity_issued" required>
            </div>
            <div class="form-group">
                <label for="issued_to">Issued To:</label>
                <input type="text" class="form-control" name="issued_to" id="issued_to" required>
            </div>
            <div class="form-group">
                <label for="issue_date">Issue Date:</label>
                <input type="date" class="form-control" name="issue_date" id="issue_date" required>
            </div>
            <button type="submit" class="btn btn-primary">Issue Inventory</button>
        </form> {% endcomment %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Issue</button>
        </form> 
        
    </div>
{% endblock content %}

