{% extends "core/base.html" %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-people" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        ADD SITTER
    </strong>
    
</h1>

{% endblock page-title %}


{% block buttons %}
<a href=" {% url 'viewsitter' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-people"></i>
    </span>
    <span >SITTERS</span>
</a>
{% endblock %}




{% block title %}
    DayStar | AddSitterPage
{% endblock title %}

{% block content %}

    <div class="container w-75 mt-4">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-outline-primary m-3" value="Submit" />
        </form>
        {% comment %} <input type="submit" class="btn btn-outline-primary m-3" value="Submit" /> {% endcomment %}
    </div>

{% endblock content %}