{% extends 'core/base.html' %}
{% load static %}


{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-people" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        {{sitter.s_name}}
    </strong>
    
</h1>

{% endblock page-title %}

{% block buttons %}
<a href=" {% url 'viewsitter' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-people"></i>
    </span>
    <span >SITTERS</span>
</a>
{% endblock %}





{% block content %}


<main id="main" class="mt-3">
    <section class="pb-3 pb-md-4 pb-xl-5 bg-light">
        <div class="container">
            <div class="row gy-4 gy-lg-0">
                <div class="col-12 col-lg-4 col-xl-4">
                    <div class="row gy-4">
                        <div class="col-12">
                            <div
                                class="card widget-card border-light shadow-sm"
                            >
                            

                                <div class="card-body p-3">
                                
                                    <h5 class="text-center mb-1">
                                        {{ sitter.s_name }}  ,
                                        <span>{{ sitter.s_gender }}</span>
                                    </h5>

                                    <div class="d-flex gap-2 mt-3">
                                        <a href="{% url 'updatesitter' sitter.id %}"
                                            ><button
                                                class="btn btn-outline-primary"
                                                type="button"
                                            >
                                                UPDATE
                                            </button>
                                        </a>
                                        <a href="{% url 'regduty' sitter.id  %}"
                                            ><button
                                                class="btn btn-primary"
                                                type="button"
                                            >
                                                REGISTER DUTY 
                                            </button>
                                        </a>
                                        <a href="{% url 'deletesitter' sitter.id  %}"
                                            ><button
                                                class="btn btn-danger"
                                                type="button"
                                            >
                                                ARCHIVE 
                                            </button>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div
                                class="card widget-card border-light shadow-sm"
                            >
                                <div class="card-header text-bg-primary-outline">
                                    About <strong>
                                        {{ sitter.s_name }}
                                    </strong> 
                                </div>
                                <div class="card-body">
                                    <ul
                                        class="list-group list-group-flush mb-0"
                                    >
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-mortarboard-fill me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>NEXT OF KIN</strong>
                                                </h4>
                                                
                                            </h6>
                                            <span> {{ sitter.s_nok }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-geo-alt-fill me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>Date of Birth</strong>
                                                </h4>
                                            </h6>
                                            <span
                                                > {{ sitter.s_dob }} </span
                                            >
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-building-fill-gear me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>Location</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_location }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                <h4 style="color: #120F75;">
                                                    <strong>Education Level</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_educ_level }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                <h4 style="color: #120F75;">
                                                    <strong>Recommender</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_recomender }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-building-fill-gear me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>RELIGION</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_religion }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-building-fill-gear me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>EMAIL</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_email }} </span>
                                        </li>
                                        <li class="list-group-item">
                                            <h6 class="mb-1">
                                                {% comment %} <span
                                                    class="bii bi-building-fill-gear me-2"
                                                ></span> {% endcomment %}
                                                <h4 style="color: #120F75;">
                                                    <strong>TELEPHONE</strong>
                                                </h4>
                                            </h6>
                                            <span> {{ sitter.s_tel }} </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>





                <div class="col-12 col-lg-8 col-xl-8">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-body p-4">
                            <ul
                                class="nav nav-tabs"
                                id="profileTab"
                                role="tablist"
                            >
                                <li class="nav-item" role="presentation">
                                        Overview
                                </li>
                            </ul>
                            <div
                                class="tab-content pt-4"
                                id="profileTabContent"
                            >
                                <div
                                    class="tab-pane fade show active"
                                    id="overview-tab-pane"
                                    role="tabpanel"
                                    aria-labelledby="overview-tab"
                                    tabindex="0"
                                >
                                    {% comment %} <p class="lead mb-3">
                                        Ethan Leo is a seasoned and
                                        results-driven Project Manager who
                                        brings experience and expertise to
                                        project management. With a proven track
                                        record of successfully delivering
                                        complex projects on time and within
                                        budget, Ethan Leo is the go-to
                                        professional for organizations seeking
                                        efficient and effective project
                                        leadership.
                                    </p> {% endcomment %}
                                    <h5 class="mb-3" style="color: #120F75;"> <strong>Assigned Babies</strong> </h5>
                                    <div class="row g-0">
                                    
                                        <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">#</th>
                                                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Name</th>
                                                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Date</th>
                                                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Stay</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for babe in baby %}
                                              <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ babe.b_name }}</td>
                                                <td>
                                                    {% for attendance in sitter.attendance_set.all %}
                                                        {{ attendance.a_payment_date|date }}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ babe.b_stayperiod }}</td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
