
+{% extends "core/base.html" %}
{% load static %}



{% block title %}
    DayStar | BabyPage
{% endblock title %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-tencent-qq" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        BABIES
    </strong>
    
</h1>

{% endblock page-title %}


{% block buttons %}
<a href=" {% url 'addbaby' %}" style="background-color: #120F75;font-size: 15px; " class="btn d-inline-flex btn-sm btn-primary mx-1">
    <span class=" pe-2">
        <i class="bi bi-plus"></i>
    </span>
    <span >Register Baby</span>
</a>
{% endblock %}



{% block content %}
{% if success %}
        <div class="alert alert-success" role="alert">
            The new Sitter was added successfully.
            <a href="{% url 'index' %}" class="alert-link">Go to Home Page</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col">
                <div class="card  bg-light m-3" >
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg "></i>
                        Sitter Registeration
                    </div>
                    <div class="form-group mt-4">
                    
                        <form action="#" method="POST" >
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary">Add</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form> 
                    </div>
                </div> 
            </div>
        </div>
        {% endif  %}

{% endblock content %}