{% extends 'core/base.html' %}

{% block page-title %}
    <div class="d-flex align-items-center">
        <i class="bi bi-people text-primary" style="font-size: 80px;"></i>
        <h1>ARCHIVED SITTERS</h1>
    </div>

{% endblock page-title %}




{% block title %}
    DayStar | SitterPage
{% endblock %}

{% block buttons %}
    <a href=" {% url 'viewsitter' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>view sitters</span>
    </a>
    
{% endblock buttons %}

{% block content %}
    <div class="">
        
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Sitter #</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Location</th>
                <th scope="col">Recommender</th>
                <th scope="col">Education level</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sitters in sitter %}
                <tr>
                    <th scope="row">
                    <strong>{{ sitters.s_no }}</strong>
                    </th>
                    <td>{{ sitters.s_name }}</td>
                    <td>{{ sitters.s_gender }}</td>
                    <td>{{ sitters.s_location }}</td>
                    <td>{{ sitters.s_recomender }}</td>
                    <td>{{ sitters.s_educ_level }}</td>
                    <td>
                    
                    <a href="{% url 'unarchive_sitter' sitters.id %}"><button type="button" class="btn btn-danger me-1"><i class="fa-solid fa-backward"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

    <hr>

<nav aria-label="Page navigation example">

    <ul class="pagination justify-content-center">
        {% if siter.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
                <a href="?page={{siter.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
            <li class="page-item">
                <a href="?page={{ forloop.counter }} "class="page-link">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if siter.has_next %}
            <li class="page-item">
                <a href="?page={{ siter.next_page_number }} "class="page-link">Next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ siter.paginator.num_pages }}"  class="page-link">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
    
</nav>

{% endblock %}
