{% extends 'core/base.html' %}

{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-people" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        SITTERS
    </strong>
    
</h1>

{% endblock page-title %}




{% block title %}
    DayStar | SitterPage
{% endblock %}

{% block buttons %}
    <a href=" {% url 'addsitter' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span>add sitter</span>
    </a>
    <a href=" {% url 'viewsitter_archive' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-archive"></i>
        </span>
        <span>Archieved sitter</span>
    </a>
    <a href=" {% url 'onduty' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color: #120F75;">
        <span class=" pe-2">
            <i class="bi bi-archive"></i>
        </span>
        <span  >On Duty</span>
    </a>
    
    <a href=" {% url 'sitter_txt' %} " class="btn d-inline-flex btn-sm btn-success mx-1">
        <span class=" pe-2">
            <i class="bi bi-book"></i>
        </span>
        <span>Txt File</span>
    </a>
    
{% endblock buttons %}

{% block content %}
    <div class="mt-4">

        <div class="m-3 bg-light">
            <form action="#" method="get " class="d-flex">
                {{ myFilter1.form }}
                <input type="submit" value="Search" class="btn btn-primary" style="background-color: #120F75;font-size: 15px; ">
            </form>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Sitter #</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Name</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Gender</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Location</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Recommender</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Education level</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">On Duty</th>
                <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sitters in siter %}
                <tr>
                    <th scope="row">
                    <strong>{{ sitters.s_no }}</strong>
                    </th>
                    <td>{{ sitters.s_name }}</td>
                    <td>{{ sitters.s_gender }}</td>
                    <td>{{ sitters.s_location }}</td>
                    <td>{{ sitters.s_recomender }}</td>
                    <td>{{ sitters.s_educ_level }}</td>
                    <td>{{ sitters.is_on_duty }}</td>
                    <td>
                    <a href="{% url 'readsitter' sitters.id %}"><button type="button" class="btn btn-success-outline me-1"><i class="fa-solid fa-eye"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

    <hr>

<nav aria-label="Page navigation example">

    <ul class="pagination justify-content-center">
        {% if siter.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">&laquo; First</a>
            </li>
            <li class="page-item">
                <a href="?page={{siter.previous_page_number}}" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
            <li class="page-item">
                <a href="?page={{ forloop.counter }} "class="page-link">{{ forloop.counter }}</a>
            </li>
        {% endfor %}

        {% if siter.has_next %}
            <li class="page-item">
                <a href="?page={{ siter.next_page_number }} "class="page-link">Next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ siter.paginator.num_pages }}"  class="page-link">Last &raquo;</a>
            </li>
        {% endif %}
    </ul>
    
</nav>

{% endblock %}
