{% extends "core/base.html" %}
{% load static %}


{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-bank" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        FINANCE
    </strong>
    
</h1>

{% endblock page-title %}



{% block buttons %}
    
    <a href=" {% url 'make_payment' %}" class="btn d-inline-flex btn-sm btn-primary mx-1" style="background-color:#120F75;">
        <span class=" pe-2">
            <i class="bi bi-cash"></i>
        </span>
        <span >Make Payment</span>
    </a>
    
    
{% endblock buttons %}



{% block content %}
    <div class="mt-4"></div>
<h2 style="color:#120F75; font-size: 21px; "><strong>FEES</strong></h2>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col " style="color:#120F75; font-weight: bolder; font-size: 15px;">#</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Reciept No.</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Baby</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Period</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Amount</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Date</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Reciept</th>
                </tr>
                </thead>
                <tbody>
                {% for fees in fee %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ fees.f_no }}</td>
                    <td>{{ fees.f_baby }}</td>
                    <td>{{ fees.f_stayperiod}} </td>
                    <td>shs.{{ fees.amount}} </td>
                    <td>{{ fees.payment_date}} </td>
                    <td>
                        <a href="{% url 'payfeesreciept' fees.id %}" style="background-color: #120F75;" class="btn btn-primary">
                            <i class="fa-solid fa-receipt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="mt-4"></div>
    <h2 style="color:#120F75; font-size: 21px; "><strong>SITTER PAYOUT</strong></h2>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">#</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Sitter</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Baby Numbers</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Amount</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Date</th>
                    
                </tr>
                </thead>
                <tbody>
                {% for fees in sitterpay %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ fees.a_sitter.s_name }}</td>
                    <td>
                        
                        {% with baby_count=fees.a_baby.all.count %}
                            {{ baby_count }} 
                        {% endwith %}
                    </td>
                    <td>shs.{{ fees.total_payment }} </td>
                    <td>{{ fees.a_payment_date}} </td>
                    
                </tr>
                
                {% endfor %} 
                
                </tbody>
            </table>
            <tr>
                <td>
                    TOTAL AMOUNT DUE:
                </td>
                <td>
                    shs.{{total_payout}}
                </td>
            </tr>
    </div>

    <div class="mt-4"></div>

    <h2 style="color:#120F75; font-size: 21px; "><strong>DOLL SALES</strong></h2>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">#</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Doll Name</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Qty</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Buyer</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Amount</th>
                    <th scope="col" style="color:#120F75; font-weight: bolder; font-size: 15px;">Issue reciept</th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sold_dolls %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sale.inventory_item.name }}</td>
                    <td>
                        {{sale.quantity_sold}}
                    </td>
                    <td>{{ sale.sold_to  }}</td>
                    <td>{{ sale.total_price }} </td>
                    <td>
                        <a href="{% url 'payreciept' sale.id %}"style="background-color: #120F75;" class="btn btn-primary">
                            <i  class="fa-solid fa-receipt"></i>
                        </a>
                    </td>
                </tr>
                
                {% endfor %}
                </tbody>
            </table>
    </div>
    





{% endblock content %}