{% extends "core/base.html" %}
{% load static %}



{% block page-title %}
<h1 style="color:#120F75;">
    <i>
        <i class="bi bi-trophy" style="font-size: 80px; color: #FED402;"></i>
    </i>
    <strong>
        DOLL STALL
    </strong>
    
</h1>
{% endblock page-title %}






{% block buttons %}

    <a style="background-color: #120F75;" href=" {% url 'sold_dolls' %}" class="btn d-inline-flex btn-sm btn-primary mx-1">
        <span class=" pe-2">
            <i class="bi bi-plus"></i>
        </span>
        <span >view sold dolls</span>
    </a>

    
{% endblock buttons %}

{% block content %}

    <div class="container mt-3">
        {% if dolls %}
            <div class="row">
                {% for item in dolls %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            
                            <div class="card-body">
                                <h5 class="card-title" style="color: #FED402;"> <strong>{{ item.name }}</strong> </h5>
                                <p class="card-text">{{ item.category.description }}</p>
                                <p class="card-text">Unit Cost: shs.{{ item.unit_cost }}</p>
                                <a href="{% url 'saledoll' item.pk %}" class="btn btn-primary" style="background-color: #120F75;">Sale</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No items found in this category.</p>
        {% endif %}
    </div>
{% endblock content %}